<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MySelfHostService.CustomerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7874" />
            <add baseAddress="net.tcp://localhost:7874" />
          </baseAddresses>
        </host>
        <!-- HTTP endpoint -->
        <endpoint
          address="customerAddress"
          binding="basicHttpBinding"
          contract="MySelfHostService.ICustomer" />
        <!-- TCP endpoint -->
        <endpoint
          address="customerAddress"
          binding="netTcpBinding"
          contract="MySelfHostService.ICustomer" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
